.navigation_checkbox{
	display: none;
}

.navigation_button{
	background-color: white;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	position: fixed;
	top: 6rem;
	left: 6rem;
	z-index: 2000;
	box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
	text-align: center;
	cursor: pointer;
}
.navigation_background{
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	position: fixed;
	top: 6.5rem;
	left: 6.5rem;
	background-image: radial-gradient(
		rgba(57,57,57, 0.9) , 
        rgba(30,29,27, 0.9)) ;
	z-index: 1000;
	transition: .5s;

	
}

.navigation_nav{
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;
	opacity: 0;
	width: 0;
	transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation_list{
    display: flex;
    flex-direction: column;
    align-items: center;
	list-style: none;
	text-align: center;
    width: 90%;
   /*  position: absolute;
    top: 50%;
    left: -100%; */
}

.navigation_item{
	margin: 1rem; 
}

.navigation_link, .navigation_link:link, .navigation_link:visited{
	display: inline-block; /* important for animation */
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 2rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(120deg, transparent 0%,  transparent 50%, rgba(236,127,55, 0.5) 50%);
	background-size: 240%;
	transition: all .4s;

}

.navigation_link:hover, .navigation_link:active{
	background-position: 100%;
	color: white;
	transform: translateX(1rem);
}
.navigation_checkbox:checked~.navigation_background{
    /* transform: scale(80); */
    height: 100vh;
    width: 15vw;
    top: 0;
    left: 0;
    border-radius: unset;
}

.navigation_checkbox:checked~.navigation_nav{
	opacity: 1;
    width: 15vw;
    display: flex;
    align-items: center;
}
.navigation_icon{
	position: relative;
	margin-top: 3.5rem;
}
.navigation_icon, .navigation_icon:before, .navigation_icon:after {
	width: 3rem;
	height: 2px;
	background-color: #333;
	display: inline-block;
	transition: all .2s;

}

.navigation_icon::before, .navigation_icon::after{
	content: "";
	
}
.navigation_icon::before{
	position: absolute;
	top: -.8rem;
	left: 0;
}
.navigation_icon::after{
	position: absolute;
	top: .8rem;
	left: 0;
}

.navigation_button:hover .navigation_icon::before{
	top: -1rem;
}
.navigation_button:hover .navigation_icon::after{
	top: 1rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon{
	background-color: transparent;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before{
	transform: rotate(135deg);
	top: 0;

}
.navigation_checkbox:checked + .navigation_button .navigation_icon::after{
	transform: rotate(-135deg);
	top: 0;
}

.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4.0rem;
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
  .btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1.0rem 2rem rgba(0,0,0.2);
  
  }
  .btn:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0.2);
  }
  .btn-white{
    background-color: #fff;
    color: #777;
  
  }
  .btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width:100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
  }
  .btn-white::after{
    background-color: #fff;
  }
  
  .btn:hover::after{
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
  }
  
  .btn-text, .btn-text:visited, .btn-text:link{
    display: inline-block;
    text-decoration: none;
    color: rgba(255,90,9, 0.7);
    border-bottom: 1px solid rgba(255,90,9, 0.7);
    padding: 3px;
    font-size: var(--default-font-size);
    transition: all .2s;
    
  }
  .btn-text:hover{
    background-color: rgba(255,90,9, 0.7);
    color: white;
    transform: translateY(-.3rem);
    box-shadow: 0 1.0rem 2rem rgba(0,0,0.2);
  }
  .btn-text:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0.2);
  }
  .btn-orange{
    background-color:rgba(255,90,9, 1);
    color: white;
  }
  .btn-orange::after{
    background-color: rgba(255,90,9, 1);
  }
